@import url("./reset.css");

:root {
  --background: #222;
  --field: white;
  --primary: dodgerblue;
  --text: #222222;
  font-size: 10px;
}

body,
div#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background-color: var(--background);
}

h1 {
  width: 80%;
  color: var(--field);
  font-size: 3rem;
}

.container {
  width: 80%;
  padding: 30px;
  color: var(--text);
  background-color: var(--field);
  border-radius: 30px;
  font-size: 1.4rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
